@mixin font($font_name, $rout, $weight, $style) {
	@font-face {
		font-family: $font_name;
		src: url('#{$rout}.eot');
		src: url('#{$rout}.woff') format('woff'), url('#{$rout}.ttf') format('truetype'), url('#{$rout}.svg') format('svg');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
